# use glob syntax
syntax: glob

*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]uild/
[Bb]uildx86/
[Bb]in/
[Dd]ebug*/
[Mm]etadata*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.orig
*.dll-*
*.shadow
Screenshots
Packages.dgml
*.psess
*.vsp
*.crunchproject.local.xml
*.rej
*.svclog
Artefacts/
packages
_TeamCity.*
